doctype html lang="en"
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	meta(http-equiv="X-UA-Compatible" content="ie=edge")
	title Dashboard
	link(rel="stylesheet", href="../../assets/css/normalize.css")
	link(rel="stylesheet", href="../../assets/css/milligram.css")
	link(rel="stylesheet", href="../../assets/fonts/css/nucleo.css")
	link(rel="stylesheet", href="../../assets/css/headers.css")
	include ./partials/navbar.pug
	include ./partials/header.pug