header.header
	nav.navigation
		section.container(style='max-width: 90rem;margin: 0 auto;')
			ul.navigation-list.float-right
				li.navigation-item
					a.navigation-link(href="/") Index
				li.navigation-item
					a.navigation-link(href="/noticias") Posts
				li.navigation-item
					a.navigation-link(href="/doctor") Doctor
				li.navigation-item
					a.navigation-link(href="/contacto") Contact