doctype html lang="es"
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	meta(http-equiv="X-UA-Compatible" content="ie=edge")
	title Users
	link(rel="stylesheet", href="../../assets/css/normalize.css")
	link(rel="stylesheet", href="../../assets/css/milligram.css")
	link(rel="stylesheet", href="../../assets/fonts/css/nucleo.css")
	link(rel="stylesheet", href="../../assets/css/headers.css")
	link(rel="stylesheet", href="../../assets/css/styleA.css")
	include ../partials/navbar.pug
	include ../partials/header.pug
	main.main
		section.container
			.row
				.column
					.content-container
						.action-buttons
							a.link-button(href="/admin-8E4145/users/addnewuser")
								i.ni.ni-fat-add
								| Add new user
						.container-posts
							if data.length > 0
								table.table
									thead
										tr
											th Name
											th Age
									tbody
										- let users = data;
										each user in users
											tr
												td
													a(href="/admin-8E4145/users/edit/"+user.id) #{user.firstname+" "+user.lastname}
												td #{user.birthday} years old
							else
								h2(style="text-align:center;margin-top:40px;") You don't have users