doctype html
head
	meta(charset='UTF-8')
	meta(name='viewport' content='width=device-width,initial-scale=1')
	meta(http-equiv='X-UA-Compatible' content='ie=edge')
	- var dataOb = JSON.parse(data);
	title #{dataOb.title}
	link(rel='stylesheet' href='../../assets/css/normalize.css')
	link(rel='stylesheet' href='../../assets/css/milligram.css')
	link(rel='stylesheet' href='../../assets/css/header.css')
	link(rel='stylesheet' href='../../assets/css/style.css')
	meta(name='description', content=dataOb.description)
	meta(name='author' content='Dr. John Doe')
	include ./partials/header.pug
	main.main
		section.container
			.row
				.column
					.post-container
							.single-post#containerPost

	link(rel="stylesheet", href="../../assets/js/tinymce/skins/content/document/content.min.css")
	script(src="../../assets/js/encoder.js")
	script.
		var content = !{data};
		document.getElementById('containerPost').innerHTML = Encoder.htmlDecode(content.content);