nav.navigation-upper
	//- ul.navigation-upper-list
		li.navigation-upper-item
			span.navigation-upper-link(href="#") Faz
			ul.navigation-upper-sublist(style="display:none;")
				li.navigation-upper-subitem 
					a.navigation-upper-sublink(href="/")
						i.ni.ni-single-02
						| My profile
				li.navigation-upper-subitem
					a.navigation-upper-sublink(href="/")
						i.ni.ni-compass-04
						| My activity
				li.navigation-upper-subitem
					a.navigation-upper-sublink(href="/")
						i.ni.ni-settings
						| Settings
				hr(style="margin:5px;") 
				li.navigation-upper-subitem
					a.navigation-upper-sublink(href="/")
						i.ni.ni-user-run 
						| Exit