header.header
	nav.navigation
		ul.navigation-list
			li.navigation-item
				a.navigation-link(href="/admin-8E4145")
					i.ni.ni-tv-2(style="color:#5e72e4 ;") 
					| Dashboard
			li.navigation-item
				a.navigation-link(href="/admin-8E4145/posts")
					i.ni.ni-books(style="color:#5603ad;") 
					| Posts
			li.navigation-item
				a.navigation-link(href="/admin-8E4145/calendar")
					i.ni.ni-calendar-grid-58(style="color:#fb6340 ;") 
					| Calendar
				ul
					li
						a(href="/admin-8E4145/calendar/appointments" style="font-size:1.5rem;")
							i.ni.ni-book-bookmark(style="color:#fb6340;width: 2.5rem;") 
							| Appointments
			li.navigation-item
				a.navigation-link(href="/admin-8E4145/patients")
					i.ni.ni-single-02(style="color:#ffd600 ;") 
					| Patients
			li.navigation-item
				a.navigation-link(href="/admin-8E4145/users")
					i.ni.ni-badge(style="color:#f5365c;") 
					| Users
			li.navigation-item
				a.navigation-link(href="/admin-8E4145/treatments")
					i.ni.ni-ambulance(style="color:#11cdef;") 
					| Treatments
			li.navigation-item
				a.navigation-link(href="/admin-8E4145/questionnaire")
					i.ni.ni-bullet-list-67(style="color:#ffd600;") 
					| Questionnaires
			li.navigation-item
				a.navigation-link(href="/admin-8E4145/emails")
					i.ni.ni-email-83(style="color:#017cff;")
					| Appointments by users
			li.navigation-item
				a.navigation-link(href="/admin-8E4145/users/exit")
					i.ni.ni-user-run(style="color:#f00;")
					| Exit